.verify {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-family: Lato;
  }

  .lib-pin-box {
    display: flex;
    flex-wrap: wrap;
    // max-width: 80%;
    align-content: center;
    justify-content: center;
  }

  .code-input {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  mat-card-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

mat-card-actions {
  display: inline-flex;
  justify-content: space-between;
}

mat-expansion-panel {
  // display: flex;
  // justify-content: center;
  // align-items: center;

  margin-top: 10px;
}

mat-panel-title {
  mat-icon {
    margin-right: 10px;
  }
}

.status-icon {
  display: flex;
  justify-content: center;
  color: gray;
}

.status-icon-unknown {
  color: gray;
}

.status-icon-failed {
  color: rgba(238, 39, 39, 0.822);
}

.status-icon-success {
  color: rgb(3, 180, 3);
}
