<div class="card-container">
  <img />

  <mat-card class="hint-card">
    <mat-card-header>
      @if(name){
      <mat-card-title>Hi {{ name }}!</mat-card-title>
      } @else {
      <mat-card-title>Hi!</mat-card-title>
      }
      <mat-card-subtitle>
        Voordat {{ targetName }} zijn hint mag zien moet hij eerst de volgende
        opdracht uitvoeren:
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <span>{{ assignment }}</span>

      @if (rewardVisible) {
      <mat-divider></mat-divider>
      <div>
        <p>
          De positie van jouw letter: <em>{{ letterIndex + 1 }}</em>
        </p>
        <p>
          Jouw gecodeerde letter: <em>{{ encryptedLetter }}</em>
        </p>
        <p>
          <em>Hint: {{ decryptionHint }}</em>
        </p>
      </div>
      }

      <mat-card-actions>
        @if (!rewardVisible) {
        <button mat-raised-button color="primary" (click)="showReward()">
          <mat-icon>visibility</mat-icon>
          Laat de hint zien
        </button>
        } @else {
        <button mat-raised-button color="primary" (click)="hideReward()">
          <mat-icon>visibility_off</mat-icon>
          Verberg hint
        </button>
        }
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> <mat-icon>rule</mat-icon> Spelregels </mat-panel-title>
  </mat-expansion-panel-header>
  Hier onder staan alle spelregels beschreven. Mocht iemand zich niet aan de
  spelregels houden, dan wordt dit bestraft met een
  shotje. Bij enige twijfel of een regel gebroken
  is wordt er iemand van de jury ingeschakeld om te kijken of de regel echt
  gebroken is of niet. De jury bestaat uit:
  {{ creators }}.

  <ol>
    <li>{{ name }} mag medespelers niet forceren om de hint te geven.</li>
    <li>{{ name }} mag niet proberen om de code te forceren.</li>
    <li>De medespelers moeten eerlijk hun hint weggeven.</li>
    <li>
      De medespelers mogen {{ name }} niet helpen met het uitvoeren van de
      opdracht.
    </li>
  </ol>
</mat-expansion-panel>
