<div class="hint-container">
  <mat-card class="hint-card">
    <mat-card-header>
      @if(name){
      <mat-card-title>Hi {{ name }}!</mat-card-title>
      } @else {
      <mat-card-title>Hi!</mat-card-title>
      }
      <mat-card-subtitle>
        Voordat {{ targetName }} zijn hint mag zien moet hij eerst de volgende
        opdracht uitvoeren:
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <span>{{ assignment }}</span>

      @if (rewardVisible) {
      <mat-divider></mat-divider>
      <div>
        <p>
          De positie van jouw letter: <em>{{ letterIndex + 1 }}</em>
        </p>
        <p>
          Jouw gecodeerde letter: <em>{{ encryptedLetter }}</em>
        </p>
        <p>
          <em>Hint: {{ decryptionHint }}</em>
        </p>
      </div>
      }

      <mat-card-actions>
        @if (!rewardVisible) {
        <button mat-raised-button color="primary" (click)="showReward()">
          <mat-icon>visibility</mat-icon>
          Laat de hint zien
        </button>
        } @else {
        <button mat-raised-button color="primary" (click)="hideReward()">
          <mat-icon>visibility_off</mat-icon>
          Verberg hint
        </button>
        }
      </mat-card-actions>
    </mat-card-content>
  </mat-card>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> <mat-icon>rule</mat-icon> Spelregels </mat-panel-title>
    </mat-expansion-panel-header>
    Hieronder vind je alle spelregels. Als iemand zich niet aan deze regels
    houdt, wordt hij of zij gestraft met een shotje. Het straf shotje telt niet
    als het voltooien van een opdracht. Bij twijfel over het overtreden van een
    regel, beslist de jury of de regel daadwerkelijk is gebroken. De juryleden
    zijn: {{ creators }}.

    <ol>
      <li>
        {{ targetName }} mag medespelers niet forceren om de hint te geven of te
        tonen.
      </li>
      <li>
        {{ targetName }} mag medespelers niet omkopen om de hint te verkrijgen.
      </li>
      <li>{{ targetName }} mag niet proberen om de code te forceren.</li>
      <li>
        {{ targetName }} mag medespelers niet forceren om de hint te geven of te
        tonen.
      </li>
      <li>
        De medespelers moeten eerlijk hun hint weggeven als de opdracht juist is
        uitgevoerd.
      </li>
      <li>
        De medespelers mogen {{ targetName }} niet helpen met het uitvoeren van
        de opdracht.
      </li>
    </ol>
  </mat-expansion-panel>
</div>
