<mat-card>
  <mat-card-header>
    <mat-card-title>Admin paneel: Genereer QR codes en URLs</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form #generatorForm="ngForm">
      @for (entry of entries; track $index) {

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Positie {{ $index + 1 }} </mat-panel-title>
          <button mat-icon-button (click)="removeEntry($index)">
            <mat-icon> delete </mat-icon>
          </button>
        </mat-expansion-panel-header>

        <mat-form-field appearance="fill">
          <mat-label>Naam</mat-label>
          <textarea
            matInput
            [(ngModel)]="entry.name"
            name="name{{ $index }}"
          ></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Opdracht</mat-label>
          <textarea
            matInput
            [(ngModel)]="entry.assignment"
            name="assignment{{ $index }}"
            required
          ></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Het versleutelde karakter</mat-label>
          <textarea
            matInput
            [(ngModel)]="entry.encryptedLetter"
            name="encryptedLetter{{ $index }}"
            required
          ></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Hint om te het karakter te ontcijferen</mat-label>
          <textarea
            matInput
            [(ngModel)]="entry.decryptionHint"
            name="decryptionHint{{ $index }}"
            required
          ></textarea>
        </mat-form-field>
      </mat-expansion-panel>
      }
    </form>

    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        (click)="generate()"
        [disabled]="!generatorForm.form.valid"
      >
        Generate URLs and QR Codes
      </button>

      <div>
        <button mat-raised-button (click)="addEntry()">
          <mat-icon> add </mat-icon>
          Add new letter
        </button>

        <button mat-raised-button (click)="triggerFileInput()">
          <mat-icon>upload</mat-icon> Import from CSV
        </button>
        <input
          type="file"
          #fileInput
          (change)="onFileSelected($event)"
          accept=".csv"
          style="display: none"
        />
      </div>
    </mat-card-actions>
  </mat-card-content>
</mat-card>

<!-- Display the generated URLs and QR codes -->
@if(generatedEntries.length > 0) {

<mat-card>
  <mat-card-header>
    <mat-card-title> Generated URLs and QR Codes: </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    @for (genEntry of generatedEntries; track $index) {
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Positie {{ $index + 1 }} </mat-panel-title>
        @if (genEntry.name){
        <mat-panel-description
          >Toegewezen persoon: {{ genEntry.name }}
        </mat-panel-description>
        }
      </mat-expansion-panel-header>
      <p class="generated-url">
        <strong>URL:</strong>
        <a [href]="genEntry.url" target="_blank">{{ genEntry.url }}</a>
      </p>
      <qrcode
        [qrdata]="genEntry.url"
        [width]="256"
        errorCorrectionLevel="M"
      ></qrcode>
    </mat-expansion-panel>

    }
  </mat-card-content>
</mat-card>
}
