<mat-card>
  <mat-card-header>Setup code speurtocht</mat-card-header>
  <mat-card-content>
    <mat-vertical-stepper [linear]="true" #stepper>
      <!-- Step 1: Receiver Form -->
      <mat-step [stepControl]="receiverForm">
        <form [formGroup]="receiverForm">
          <ng-template matStepLabel>Receiver Information</ng-template>

          <!-- Name field -->
          <mat-form-field>
            <mat-label>Naam</mat-label>
            <input matInput formControlName="name" required />
          </mat-form-field>

          <!-- Code field -->
          <mat-form-field>
            <mat-label>Code</mat-label>
            <input matInput formControlName="code" required />
          </mat-form-field>

          <mat-slide-toggle
            labelPosition="before"
            formControlName="lastHintByCreators"
            >Verberg laatste hint?</mat-slide-toggle
          >

          <!-- Action buttons -->
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <!-- Step 2: My Form (FormArray) -->
      <mat-step [stepControl]="hintsForm">
        <form [formGroup]="hintsForm">
          <ng-template matStepLabel>Hint Setup</ng-template>

          <div formArrayName="formArray">
            @for(form of hintsArray.controls; track form; let i = $index){
            <mat-expansion-panel [formGroupName]="i">
              <mat-expansion-panel-header>
                <mat-panel-title> {{ i + 1 }} </mat-panel-title>

                @if(form.get('name')?.value){
                <mat-panel-description class="generated-url">{{
                  form.get("name")?.value
                }}</mat-panel-description>
                }
                <button type="button" mat-icon-button (click)="removeHint(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-expansion-panel-header>
              <!-- Name field -->
              <mat-form-field>
                <mat-label>Naam</mat-label>
                <input matInput formControlName="name" />
              </mat-form-field>

              <!-- Assignment field -->
              <mat-form-field>
                <mat-label>Opdracht</mat-label>
                <input matInput formControlName="assignment" required />
              </mat-form-field>

              <!-- Encrypted Letter field -->
              <mat-form-field>
                <mat-label>Gecodeerde Letter</mat-label>
                <input matInput formControlName="encryptedLetter" required />
              </mat-form-field>

              <!-- Description Hint field -->
              <mat-form-field>
                <mat-label>Hint om de letter te decoderen</mat-label>
                <input matInput formControlName="decryptionHint" />
              </mat-form-field>
            </mat-expansion-panel>
            }
          </div>

          <div>
            <button
              type="button"
              mat-button
              (click)="addEntry()"
              [disabled]="hintsArray.length === 15"
            >
              Add Form
            </button>
          </div>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button
              mat-button
              matStepperNext
              [disabled]="!hintsForm.valid || hintsArray.length !== 15"
            >
              Next
            </button>

            <button
              mat-button
              (click)="triggerFileInput()"
              matTooltip="Gebruik de configuratie van een CSV bestand"
            >
              <mat-icon>upload</mat-icon>
              Import from CSV
            </button>

            <input
              type="file"
              #fileInput
              (change)="onFileSelected($event)"
              accept=".csv"
              style="display: none"
            />
          </div>
        </form>
      </mat-step>

      <!-- Final step: Review and Submit -->
      <mat-step>
        <ng-template matStepLabel>Review and Submit</ng-template>
        <p>All forms are valid and ready to submit.</p>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="generate()" [disabled]="!areFormsValid()">
          Submit
        </button>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card-content>
</mat-card>

@if(generatedTargetEntry){

<mat-card>
  <mat-card-header>
    <mat-card-title>
      Generated target entry: {{ generatedTargetEntry.name }}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p class="generated-url">
      <strong>URL:</strong>
      <a [href]="generatedTargetEntry.url" target="_blank">{{
        generatedTargetEntry.url
      }}</a>
    </p>
    <qrcode
      [qrdata]="generatedTargetEntry.url"
      [width]="256"
      errorCorrectionLevel="M"
    ></qrcode>
  </mat-card-content>
</mat-card>

}

<!-- Display the generated URLs and QR codes -->
@if(generatedHintEntries.length > 0) {

<mat-card>
  <mat-card-header>
    <mat-card-title> Generated URLs and QR Codes: </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    @for (genEntry of generatedHintEntries; track $index) {
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Positie {{ $index + 1 }} </mat-panel-title>
        @if (genEntry.name){
        <mat-panel-description
          >Toegewezen persoon: {{ genEntry.name }}
        </mat-panel-description>
        }
      </mat-expansion-panel-header>
      <p class="generated-url">
        <strong>URL:</strong>
        <a [href]="genEntry.url" target="_blank">{{ genEntry.url }}</a>
      </p>
      <qrcode
        [qrdata]="genEntry.url"
        [width]="256"
        errorCorrectionLevel="M"
      ></qrcode>
    </mat-expansion-panel>

    }
  </mat-card-content>
</mat-card>
}
