mat-card {
  max-width: 80%;
  margin: 20px auto;

  mat-card-actions {
    display: flex;
    align-items: flex-end;
    align-content: center;
    justify-content: space-between;
  }

  mat-card-content {
    .generated-url {
      max-width: max-content;
      width: 100%;
      white-space: nowrap; /* Prevents text from wrapping */
      overflow: hidden; /* Hides the overflow text */
      text-overflow: ellipsis; /* Adds ellipsis for overflowed text */
    }
  }
}

mat-expansion-panel {
  margin-bottom: 10px;
}

.form-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

mat-form-field {
  width: 100%;
}

button {
  margin: 10px 0;
}

mat-divider {
  margin: 20px 0;
}

qrcode {
  display: block;
  margin: 10px 0;
}
