mat-card {
  max-width: 800px;
  margin: 20px auto;
}

mat-form-field {
  width: 100%;
}

button {
  margin: 10px 0;
}

mat-divider {
  margin: 20px 0;
}

qrcode {
  display: block;
  margin: 10px 0;
}
